/target
rolandc/target
**/*.wasm
**/*.s
**/*.ssa
**/*.wat
**/*.profraw
**/*.bundle.js
**/node_modules/
roland-vscode/out
**/*.vsix
roland-vscode/rolandc_lsp
roland-vscode/rolandc_lsp.exe
scratch.rol
scratch
dhat-heap.json
tarpaulin-report.html
perf.data
perf.data.old
flamegraph.svg
cfg.dot
profile.json
pp.rol