body {
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
   display: flex;
   flex-flow: column;
   align-items: center;
   width: 50%;
   height: 100%;
}

.CodeMirror {
   width: 100%
}

#preload {
   display: flex;
   justify-content: space-around;
   width: 100%
}

#out_frame {
   white-space: pre-line;
   width: 100%
}
