body {
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: space-evenly;
   width: 50%;
   height: 100vh;
}

.cm-editor {
   width: 100%
}

#preload {
   display: flex;
   justify-content: space-around;
   width: 100%
}

#buttons {
   display: flex;
   justify-content: space-around;
   width: 100%;
}

#out_frame {
   white-space: pre-line;
   width: 100%;
   height: 20%;
   overflow: scroll;
}

#disassembly_div {
   width: 100%;
}
